.container-fluid {
  position: relative;
}
div#navbarSupportedContent {
  margin-top: 10px;
}
.navbar {
  padding-bottom: 18px;
}
.cart-btn {
  position: absolute;
  right: 14px;
  top: 20px;
  transition: 1s all ease-in-out;
}
