.container-fluid {
  position: relative;
}
div#navbarSupportedContent {
  margin-top: 10px;
}
.navbar {
  padding-bottom: 18px;
}
.cart-btn {
  position: absolute;
  right: 50px;
  top: 28px;
  transition: 1s all ease-in-out;
  cursor: pointer;
}
.cart-btn svg {
  font-size: 35px;
  color: #2f4858;
}
