:root {
  --main-color: #14ac6b;
}
* {
  box-sizing: border-box;
}
.container {
  position: relative;
}
.primary-text {
  color: var(--main-color);
}
.cart-btn {
  position: absolute;
  right: 14px;
  top: 8px;
  transition: 1s all ease-in-out;
}
span.badge.badge-primary {
  background: #0948a5;
}

@media (max-width: 767px) {
  h1.siteName {
    font-size: 18px;
    padding-top: 6px;
  }
  .cart-btn {
    top: 0;
  }
}
