:root {
  --main-color: #14ac6b;
}
* {
  box-sizing: border-box;
}
div#root {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  position: relative;
}
.primary-text {
  color: var(--main-color);
}
span.badge.badge-primary {
  background: #155c6f;
  width: 25px;
  height: 25px;
  padding: 6px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: -14px;
}

@media (max-width: 767px) {
  h1.siteName {
    font-size: 18px;
    padding-top: 6px;
  }
  .cart-btn {
    top: 0;
  }
}
